.hero
	background: #fffefc url('../image/hero/hero-bg.jpg') no-repeat center center
	background-size: cover
	padding-top: 180px
	padding-bottom: 270px
	height: 100vh

	&__title
		font-size: 30px
		margin-bottom: 40px
	&__subtitle
		display: block
		margin-bottom: 67px
		font-size: 30px
		+bold

